In [220]:
import pandas as pd
FILE_PATH = "GermanCredit.csv"
df =  pd.read_csv(FILE_PATH)

Preprocessing

In [221]:

DROPVALUE = 3
df['None Count'] = (df == 'none').sum(axis=1)
cols = list(df.columns)
df = df[[cols[-1]] + cols[0:(len(cols) -1)]]
df.sort_values(['None Count'],ascending= False)

,None Count,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
500,3,'<0',24,'existing paid','new car',3123,'<100','<1',4,'female div/dep/mar',...,'life insurance',27,none,own,1,skilled,1,none,yes,bad
522,3,'<0',48,'no credits/all paid',furniture/equipment,7119,'<100','1<=X<4',3,'male single',...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
510,3,'<0',12,'existing paid','new car',759,'<100','4<=X<7',4,'male single',...,'real estate',26,none,own,1,skilled,1,none,yes,bad
514,3,'no checking',24,'existing paid','new car',2255,'no known savings','<1',4,'male single',...,'life insurance',54,none,own,1,skilled,1,none,yes,good
515,3,'<0',6,'critical/other existing credit','new car',609,'<100','4<=X<7',4,'female div/dep/mar',...,'life insurance',37,none,own,2,skilled,1,none,no,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,0,'0<=X<200',48,'existing paid',radio/tv,10961,'>=1000','4<=X<7',1,'male single',...,'no known property',27,bank,own,2,skilled,1,yes,yes,bad
138,0,'0<=X<200',15,'critical/other existing credit',radio/tv,2728,'no known savings','4<=X<7',4,'male single',...,'real estate',35,bank,own,3,skilled,1,yes,yes,good
876,0,'<0',18,'all paid',radio/tv,1940,'<100','<1',3,'male single',...,'no known property',36,bank,'for free',1,'high qualif/self emp/mgmt',1,yes,yes,good
431,0,'0<=X<200',24,'existing paid',other,11328,'<100','1<=X<4',2,'male single',...,car,29,bank,own,2,'high qualif/self emp/mgmt',1,yes,yes,bad
465,0,'<0',24,'existing paid','used car',2924,'<100','1<=X<4',3,'male single',...,'no known property',63,bank,own,1,skilled,2,yes,yes,good

In [222]:
drop_list  = df.sort_values(['None Count'],ascending= False).index.to_list()[0:DROPVALUE]
print(drop_list)
df.drop(index =drop_list)

[500, 522, 510]

,None Count,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
999,3,'0<=X<200',45,'critical/other existing credit','used car',4576,'100<=X<500',unemployed,3,'male single',...,car,27,none,own,1,skilled,1,none,yes,good
430,3,'no checking',5,'existing paid',business,3448,'<100','4<=X<7',1,'male single',...,'real estate',74,none,own,1,'unskilled resident',1,none,yes,good
755,3,'<0',24,'existing paid','new car',1285,'no known savings','4<=X<7',4,'female div/dep/mar',...,'no known property',32,none,rent,1,skilled,1,none,yes,bad
756,3,'>=200',6,'critical/other existing credit','new car',1299,'<100','1<=X<4',1,'male single',...,'real estate',74,none,own,3,'unemp/unskilled non res',2,none,no,good
385,3,'no checking',18,'critical/other existing credit',radio/tv,2238,'<100','1<=X<4',2,'female div/dep/mar',...,car,25,none,own,2,skilled,1,none,yes,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,0,'0<=X<200',18,'critical/other existing credit',radio/tv,1795,'<100','>=7',3,'female div/dep/mar',...,'real estate',48,bank,rent,2,'unskilled resident',1,yes,yes,good
900,0,'<0',16,'critical/other existing credit','new car',2625,'<100','>=7',2,'male single',...,'life insurance',43,bank,rent,1,skilled,1,yes,yes,bad
226,0,'0<=X<200',48,'existing paid',radio/tv,10961,'>=1000','4<=X<7',1,'male single',...,'no known property',27,bank,own,2,skilled,1,yes,yes,bad
138,0,'0<=X<200',15,'critical/other existing credit',radio/tv,2728,'no known savings','4<=X<7',4,'male single',...,'real estate',35,bank,own,3,skilled,1,yes,yes,good
343,0,'0<=X<200',18,'existing paid',business,4439,'<100','>=7',1,'male single',...,'real estate',33,bank,own,1,'high qualif/self emp/mgmt',1,yes,yes,good